# Ejercicio Fechas y operaciones con columnas

### Se calcula los retrasos a partir de la informacion. Está información ya se dispone.
### El objetivo es trabajar.
* Formato de fecha y horas. Trabajar con esto.
* Practivar apply y lamda

In [1]:
import pandas as pd
from datetime import datetime, date, time, timedelta

In [2]:
df=pd.read_csv("D:/data/DelayedFlights.csv")

In [3]:
df.head()

,Unnamed: 0,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
0,0,2008,1,3,4,2003.0,1955,2211.0,2225,WN,...,4.0,8.0,0,N,0,NaN,NaN,NaN,NaN,NaN
1,1,2008,1,3,4,754.0,735,1002.0,1000,WN,...,5.0,10.0,0,N,0,NaN,NaN,NaN,NaN,NaN
2,2,2008,1,3,4,628.0,620,804.0,750,WN,...,3.0,17.0,0,N,0,NaN,NaN,NaN,NaN,NaN
3,4,2008,1,3,4,1829.0,1755,1959.0,1925,WN,...,3.0,10.0,0,N,0,2.0,0.0,0.0,0.0,32.0
4,5,2008,1,3,4,1940.0,1915,2121.0,2110,WN,...,4.0,10.0,0,N,0,NaN,NaN,NaN,NaN,NaN

In [4]:
df.shape

(1936758, 30)

In [5]:
df.isnull().sum()

Unnamed: 0                0
Year                      0
Month                     0
DayofMonth                0
DayOfWeek                 0
DepTime                   0
CRSDepTime                0
ArrTime                7110
CRSArrTime                0
UniqueCarrier             0
FlightNum                 0
TailNum                   5
ActualElapsedTime      8387
CRSElapsedTime          198
AirTime                8387
ArrDelay               8387
DepDelay                  0
Origin                    0
Dest                      0
Distance                  0
TaxiIn                 7110
TaxiOut                 455
Cancelled                 0
CancellationCode          0
Diverted                  0
CarrierDelay         689270
WeatherDelay         689270
NASDelay             689270
SecurityDelay        689270
LateAircraftDelay    689270
dtype: int64

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1936758 entries, 0 to 1936757
Data columns (total 30 columns):
 #   Column             Dtype
---  ------             -----
 0   Unnamed: 0         int64
 1   Year               int64
 2   Month              int64
 3   DayofMonth         int64
 4   DayOfWeek          int64
 5   DepTime            float64
 6   CRSDepTime         int64
 7   ArrTime            float64
 8   CRSArrTime         int64
 9   UniqueCarrier      object
 10  FlightNum          int64
 11  TailNum            object
 12  ActualElapsedTime  float64
 13  CRSElapsedTime     float64
 14  AirTime            float64
 15  ArrDelay           float64
 16  DepDelay           float64
 17  Origin             object
 18  Dest               object
 19  Distance           int64
 20  TaxiIn             float64
 21  TaxiOut            float64
 22  Cancelled          int64
 23  CancellationCode   object
 24  Diverted           int64
 25  CarrierDelay       float64
 26  WeatherDelay       float64
 27  NASDelay           float64
 28  SecurityDelay      float64
 29  LateAircraftDelay  float64
dtypes: float64(14), int64(11), object(5)
memory usage: 443.3+ MB

In [7]:
df[df['ArrTime'].isnull()]## si son canceldos o diverted no aparece arrtime.

,Unnamed: 0,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
1280,1763,2008,1,3,4,922.0,915,NaN,1050,WN,...,NaN,12.0,0,N,1,NaN,NaN,NaN,NaN,NaN
1372,1911,2008,1,3,4,2325.0,1900,NaN,2030,WN,...,NaN,11.0,0,N,1,NaN,NaN,NaN,NaN,NaN
1776,2651,2008,1,4,5,1949.0,1905,NaN,1910,WN,...,NaN,11.0,0,N,1,NaN,NaN,NaN,NaN,NaN
1831,2726,2008,1,4,5,737.0,705,NaN,825,WN,...,NaN,13.0,0,N,1,NaN,NaN,NaN,NaN,NaN
2244,3672,2008,1,4,5,1849.0,1630,NaN,1755,WN,...,NaN,12.0,0,N,1,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1934590,7002526,2008,12,7,7,1526.0,1444,NaN,1654,DL,...,NaN,NaN,1,A,0,NaN,NaN,NaN,NaN,NaN
1935491,7006018,2008,12,10,3,1431.0,1422,NaN,1527,DL,...,NaN,NaN,1,C,0,NaN,NaN,NaN,NaN,NaN
1935651,7006289,2008,12,10,3,1459.0,1447,NaN,1650,DL,...,NaN,37.0,1,A,0,NaN,NaN,NaN,NaN,NaN
1935876,7006809,2008,12,11,4,1026.0,955,NaN,1219,DL,...,NaN,NaN,1,A,0,NaN,NaN,NaN,NaN,NaN
1936470,7008584,2008,12,12,5,703.0,630,NaN,734,DL,...,NaN,33.0,1,B,0,NaN,NaN,NaN,NaN,NaN

In [8]:
pd.set_option('display.max_columns', 38)

***
### Creamos Columnas

In [31]:
def funcion_horasolo(x):
    
    if pd.notnull(x):
        
        x=int(x)
        if x==2400:
            x=0
       
    
   
        hora= int(x/100)
        hora=int(hora)
    
        return hora
    else:
        return 25 # si ponemos None queda como float toda la columna, los no nulos.(estudiar)
    
    
    
def funcion_minutosolo(x):
    if pd.notnull(x):
        
        x=int(x)
        if x==2400:
            x=0
    
   
        minuto= int(x%100)
        minuto=int(minuto)
    
        return int(minuto)
    
    else:
        return 61 # si ponemos None queda como float toda la columna, los no nulos.

In [11]:
# Creamos columna 'DepTime'fecha hora
df["Horas"]=df['DepTime'].apply(funcion_horasolo)
df["Minutos"]=df['DepTime'].apply(funcion_minutosolo)

#Construimos la columna
df['DepTime_FH']=df.apply(
    lambda row: datetime(row['Year'],row['Month'],row['DayofMonth'],row['Horas'],row['Minutos']),axis=1
)
df.drop('Horas', axis=1,inplace=True)
df.drop('Minutos', axis=1,inplace=True)

In [12]:
# Creamos columna 'CRSDepTime'fecha hora
df["Horas"]=df['CRSDepTime'].apply(funcion_horasolo)
df["Minutos"]=df['CRSDepTime'].apply(funcion_minutosolo)

df['CRSDepTime_FH']=df.apply(
    lambda row: datetime(row['Year'],row['Month'],row['DayofMonth'],row['Horas'],row['Minutos']),axis=1
)
df.drop('Horas', axis=1,inplace=True)
df.drop('Minutos', axis=1,inplace=True)

In [13]:
# Creamos columna 'ArrTime'fecha hora
df["Horas"]=df['ArrTime'].apply(funcion_horasolo)
df["Minutos"]=df['ArrTime'].apply(funcion_minutosolo)

df_nonulos=df[df['ArrTime'].notnull()] # lo aplicaremos unicamente a los registros que DepTime no sea NaN.

df['ArrTime_FH']=df_nonulos.apply(
   lambda row: datetime(row['Year'],row['Month'],row['DayofMonth'],row['Horas'],row['Minutos']),axis=1
)
df.drop('Horas', axis=1,inplace=True)
df.drop('Minutos', axis=1,inplace=True)

In [14]:
# Creamos columna 'CRSArrTime'fecha hora
df["Horas"]=df['CRSArrTime'].apply(funcion_horasolo)
df["Minutos"]=df['CRSArrTime'].apply(funcion_minutosolo)
df['CRSArrTime_FH']=df.apply(
    lambda row: datetime(row['Year'],row['Month'],row['DayofMonth'],row['Horas'],row['Minutos']),axis=1
)
df.drop('Horas', axis=1,inplace=True)
df.drop('Minutos', axis=1,inplace=True)

In [15]:
df.head()

,Unnamed: 0,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,TailNum,ActualElapsedTime,CRSElapsedTime,AirTime,ArrDelay,DepDelay,Origin,Dest,Distance,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay,DepTime_FH,CRSDepTime_FH,ArrTime_FH,CRSArrTime_FH
0,0,2008,1,3,4,2003.0,1955,2211.0,2225,WN,335,N712SW,128.0,150.0,116.0,-14.0,8.0,IAD,TPA,810,4.0,8.0,0,N,0,NaN,NaN,NaN,NaN,NaN,2008-01-03 20:03:00,2008-01-03 19:55:00,2008-01-03 22:11:00,2008-01-03 22:25:00
1,1,2008,1,3,4,754.0,735,1002.0,1000,WN,3231,N772SW,128.0,145.0,113.0,2.0,19.0,IAD,TPA,810,5.0,10.0,0,N,0,NaN,NaN,NaN,NaN,NaN,2008-01-03 07:54:00,2008-01-03 07:35:00,2008-01-03 10:02:00,2008-01-03 10:00:00
2,2,2008,1,3,4,628.0,620,804.0,750,WN,448,N428WN,96.0,90.0,76.0,14.0,8.0,IND,BWI,515,3.0,17.0,0,N,0,NaN,NaN,NaN,NaN,NaN,2008-01-03 06:28:00,2008-01-03 06:20:00,2008-01-03 08:04:00,2008-01-03 07:50:00
3,4,2008,1,3,4,1829.0,1755,1959.0,1925,WN,3920,N464WN,90.0,90.0,77.0,34.0,34.0,IND,BWI,515,3.0,10.0,0,N,0,2.0,0.0,0.0,0.0,32.0,2008-01-03 18:29:00,2008-01-03 17:55:00,2008-01-03 19:59:00,2008-01-03 19:25:00
4,5,2008,1,3,4,1940.0,1915,2121.0,2110,WN,378,N726SW,101.0,115.0,87.0,11.0,25.0,IND,JAX,688,4.0,10.0,0,N,0,NaN,NaN,NaN,NaN,NaN,2008-01-03 19:40:00,2008-01-03 19:15:00,2008-01-03 21:21:00,2008-01-03 21:10:00

In [16]:
df.shape

(1936758, 34)

In [17]:
df['ArrTime_FH'][pd.notnull(df['ArrTime'])].shape

(1929648,)

In [18]:
# calculamos retraso
df['Retraso_Llegada']=df['ArrTime_FH']-df['CRSArrTime_FH']
df['Retraso_Salida']=df['DepTime_FH']-df['CRSDepTime_FH']

In [19]:
df.head()

,Unnamed: 0,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,TailNum,ActualElapsedTime,CRSElapsedTime,AirTime,ArrDelay,DepDelay,Origin,Dest,Distance,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay,DepTime_FH,CRSDepTime_FH,ArrTime_FH,CRSArrTime_FH,Retraso_Llegada,Retraso_Salida
0,0,2008,1,3,4,2003.0,1955,2211.0,2225,WN,335,N712SW,128.0,150.0,116.0,-14.0,8.0,IAD,TPA,810,4.0,8.0,0,N,0,NaN,NaN,NaN,NaN,NaN,2008-01-03 20:03:00,2008-01-03 19:55:00,2008-01-03 22:11:00,2008-01-03 22:25:00,-1 days +23:46:00,0 days 00:08:00
1,1,2008,1,3,4,754.0,735,1002.0,1000,WN,3231,N772SW,128.0,145.0,113.0,2.0,19.0,IAD,TPA,810,5.0,10.0,0,N,0,NaN,NaN,NaN,NaN,NaN,2008-01-03 07:54:00,2008-01-03 07:35:00,2008-01-03 10:02:00,2008-01-03 10:00:00,0 days 00:02:00,0 days 00:19:00
2,2,2008,1,3,4,628.0,620,804.0,750,WN,448,N428WN,96.0,90.0,76.0,14.0,8.0,IND,BWI,515,3.0,17.0,0,N,0,NaN,NaN,NaN,NaN,NaN,2008-01-03 06:28:00,2008-01-03 06:20:00,2008-01-03 08:04:00,2008-01-03 07:50:00,0 days 00:14:00,0 days 00:08:00
3,4,2008,1,3,4,1829.0,1755,1959.0,1925,WN,3920,N464WN,90.0,90.0,77.0,34.0,34.0,IND,BWI,515,3.0,10.0,0,N,0,2.0,0.0,0.0,0.0,32.0,2008-01-03 18:29:00,2008-01-03 17:55:00,2008-01-03 19:59:00,2008-01-03 19:25:00,0 days 00:34:00,0 days 00:34:00
4,5,2008,1,3,4,1940.0,1915,2121.0,2110,WN,378,N726SW,101.0,115.0,87.0,11.0,25.0,IND,JAX,688,4.0,10.0,0,N,0,NaN,NaN,NaN,NaN,NaN,2008-01-03 19:40:00,2008-01-03 19:15:00,2008-01-03 21:21:00,2008-01-03 21:10:00,0 days 00:11:00,0 days 00:25:00

In [20]:
def total_seconds(x):
    if pd.notnull(x):
        secundos=x.total_seconds()
        minutos=secundos/60
        return minutos
    else:
        return None

In [21]:
#Creamos columnas retrasos en minutos.(float)
df['Retraso_llegas_min']=df['Retraso_Llegada'].apply(total_seconds)
df['Retraso_salida_min']=df['Retraso_Salida'].apply(total_seconds)

## Columnas añadidas

In [22]:
# Mostramos todas la columnas
df.head()

,Unnamed: 0,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,TailNum,ActualElapsedTime,CRSElapsedTime,AirTime,ArrDelay,DepDelay,Origin,Dest,Distance,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay,DepTime_FH,CRSDepTime_FH,ArrTime_FH,CRSArrTime_FH,Retraso_Llegada,Retraso_Salida,Retraso_llegas_min,Retraso_salida_min
0,0,2008,1,3,4,2003.0,1955,2211.0,2225,WN,335,N712SW,128.0,150.0,116.0,-14.0,8.0,IAD,TPA,810,4.0,8.0,0,N,0,NaN,NaN,NaN,NaN,NaN,2008-01-03 20:03:00,2008-01-03 19:55:00,2008-01-03 22:11:00,2008-01-03 22:25:00,-1 days +23:46:00,0 days 00:08:00,-14.0,8.0
1,1,2008,1,3,4,754.0,735,1002.0,1000,WN,3231,N772SW,128.0,145.0,113.0,2.0,19.0,IAD,TPA,810,5.0,10.0,0,N,0,NaN,NaN,NaN,NaN,NaN,2008-01-03 07:54:00,2008-01-03 07:35:00,2008-01-03 10:02:00,2008-01-03 10:00:00,0 days 00:02:00,0 days 00:19:00,2.0,19.0
2,2,2008,1,3,4,628.0,620,804.0,750,WN,448,N428WN,96.0,90.0,76.0,14.0,8.0,IND,BWI,515,3.0,17.0,0,N,0,NaN,NaN,NaN,NaN,NaN,2008-01-03 06:28:00,2008-01-03 06:20:00,2008-01-03 08:04:00,2008-01-03 07:50:00,0 days 00:14:00,0 days 00:08:00,14.0,8.0
3,4,2008,1,3,4,1829.0,1755,1959.0,1925,WN,3920,N464WN,90.0,90.0,77.0,34.0,34.0,IND,BWI,515,3.0,10.0,0,N,0,2.0,0.0,0.0,0.0,32.0,2008-01-03 18:29:00,2008-01-03 17:55:00,2008-01-03 19:59:00,2008-01-03 19:25:00,0 days 00:34:00,0 days 00:34:00,34.0,34.0
4,5,2008,1,3,4,1940.0,1915,2121.0,2110,WN,378,N726SW,101.0,115.0,87.0,11.0,25.0,IND,JAX,688,4.0,10.0,0,N,0,NaN,NaN,NaN,NaN,NaN,2008-01-03 19:40:00,2008-01-03 19:15:00,2008-01-03 21:21:00,2008-01-03 21:10:00,0 days 00:11:00,0 days 00:25:00,11.0,25.0

In [23]:
df['ArrTime'].notnull()

0          True
1          True
2          True
3          True
4          True
           ...
1936753    True
1936754    True
1936755    True
1936756    True
1936757    True
Name: ArrTime, Length: 1936758, dtype: bool

In [24]:
df['ArrTime'][df['ArrTime'].notnull()]

0          2211.0
1          1002.0
2           804.0
3          1959.0
4          2121.0
            ...
1936753    1617.0
1936754     904.0
1936755    1149.0
1936756    1446.0
1936757    1413.0
Name: ArrTime, Length: 1929648, dtype: float64

In [25]:
df[df['ArrTime'].notnull()]

,Unnamed: 0,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,TailNum,ActualElapsedTime,CRSElapsedTime,AirTime,ArrDelay,DepDelay,Origin,Dest,Distance,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay,DepTime_FH,CRSDepTime_FH,ArrTime_FH,CRSArrTime_FH,Retraso_Llegada,Retraso_Salida,Retraso_llegas_min,Retraso_salida_min
0,0,2008,1,3,4,2003.0,1955,2211.0,2225,WN,335,N712SW,128.0,150.0,116.0,-14.0,8.0,IAD,TPA,810,4.0,8.0,0,N,0,NaN,NaN,NaN,NaN,NaN,2008-01-03 20:03:00,2008-01-03 19:55:00,2008-01-03 22:11:00,2008-01-03 22:25:00,-1 days +23:46:00,0 days 00:08:00,-14.0,8.0
1,1,2008,1,3,4,754.0,735,1002.0,1000,WN,3231,N772SW,128.0,145.0,113.0,2.0,19.0,IAD,TPA,810,5.0,10.0,0,N,0,NaN,NaN,NaN,NaN,NaN,2008-01-03 07:54:00,2008-01-03 07:35:00,2008-01-03 10:02:00,2008-01-03 10:00:00,0 days 00:02:00,0 days 00:19:00,2.0,19.0
2,2,2008,1,3,4,628.0,620,804.0,750,WN,448,N428WN,96.0,90.0,76.0,14.0,8.0,IND,BWI,515,3.0,17.0,0,N,0,NaN,NaN,NaN,NaN,NaN,2008-01-03 06:28:00,2008-01-03 06:20:00,2008-01-03 08:04:00,2008-01-03 07:50:00,0 days 00:14:00,0 days 00:08:00,14.0,8.0
3,4,2008,1,3,4,1829.0,1755,1959.0,1925,WN,3920,N464WN,90.0,90.0,77.0,34.0,34.0,IND,BWI,515,3.0,10.0,0,N,0,2.0,0.0,0.0,0.0,32.0,2008-01-03 18:29:00,2008-01-03 17:55:00,2008-01-03 19:59:00,2008-01-03 19:25:00,0 days 00:34:00,0 days 00:34:00,34.0,34.0
4,5,2008,1,3,4,1940.0,1915,2121.0,2110,WN,378,N726SW,101.0,115.0,87.0,11.0,25.0,IND,JAX,688,4.0,10.0,0,N,0,NaN,NaN,NaN,NaN,NaN,2008-01-03 19:40:00,2008-01-03 19:15:00,2008-01-03 21:21:00,2008-01-03 21:10:00,0 days 00:11:00,0 days 00:25:00,11.0,25.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1936753,7009710,2008,12,13,6,1250.0,1220,1617.0,1552,DL,1621,N938DL,147.0,152.0,120.0,25.0,30.0,MSP,ATL,906,9.0,18.0,0,N,0,3.0,0.0,0.0,0.0,22.0,2008-12-13 12:50:00,2008-12-13 12:20:00,2008-12-13 16:17:00,2008-12-13 15:52:00,0 days 00:25:00,0 days 00:30:00,25.0,30.0
1936754,7009717,2008,12,13,6,657.0,600,904.0,749,DL,1631,N3743H,127.0,109.0,78.0,75.0,57.0,RIC,ATL,481,15.0,34.0,0,N,0,0.0,57.0,18.0,0.0,0.0,2008-12-13 06:57:00,2008-12-13 06:00:00,2008-12-13 09:04:00,2008-12-13 07:49:00,0 days 01:15:00,0 days 00:57:00,75.0,57.0
1936755,7009718,2008,12,13,6,1007.0,847,1149.0,1010,DL,1631,N909DA,162.0,143.0,122.0,99.0,80.0,ATL,IAH,689,8.0,32.0,0,N,0,1.0,0.0,19.0,0.0,79.0,2008-12-13 10:07:00,2008-12-13 08:47:00,2008-12-13 11:49:00,2008-12-13 10:10:00,0 days 01:39:00,0 days 01:20:00,99.0,80.0
1936756,7009726,2008,12,13,6,1251.0,1240,1446.0,1437,DL,1639,N646DL,115.0,117.0,89.0,9.0,11.0,IAD,ATL,533,13.0,13.0,0,N,0,NaN,NaN,NaN,NaN,NaN,2008-12-13 12:51:00,2008-12-13 12:40:00,2008-12-13 14:46:00,2008-12-13 14:37:00,0 days 00:09:00,0 days 00:11:00,9.0,11.0
1936757,7009727,2008,12,13,6,1110.0,1103,1413.0,1418,DL,1641,N908DL,123.0,135.0,104.0,-5.0,7.0,SAT,ATL,874,8.0,11.0,0,N,0,NaN,NaN,NaN,NaN,NaN,2008-12-13 11:10:00,2008-12-13 11:03:00,2008-12-13 14:13:00,2008-12-13 14:18:00,-1 days +23:55:00,0 days 00:07:00,-5.0,7.0

In [26]:
df.shape

(1936758, 38)

In [27]:
df[df['ArrTime'].isnull()]

,Unnamed: 0,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,TailNum,ActualElapsedTime,CRSElapsedTime,AirTime,ArrDelay,DepDelay,Origin,Dest,Distance,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay,DepTime_FH,CRSDepTime_FH,ArrTime_FH,CRSArrTime_FH,Retraso_Llegada,Retraso_Salida,Retraso_llegas_min,Retraso_salida_min
1280,1763,2008,1,3,4,922.0,915,NaN,1050,WN,1069,N630WN,NaN,95.0,NaN,NaN,7.0,SAN,SMF,480,NaN,12.0,0,N,1,NaN,NaN,NaN,NaN,NaN,2008-01-03 09:22:00,2008-01-03 09:15:00,NaT,2008-01-03 10:50:00,NaT,0 days 00:07:00,NaN,7.0
1372,1911,2008,1,3,4,2325.0,1900,NaN,2030,WN,2092,N302SW,NaN,90.0,NaN,NaN,265.0,SFO,SAN,447,NaN,11.0,0,N,1,NaN,NaN,NaN,NaN,NaN,2008-01-03 23:25:00,2008-01-03 19:00:00,NaT,2008-01-03 20:30:00,NaT,0 days 04:25:00,NaN,265.0
1776,2651,2008,1,4,5,1949.0,1905,NaN,1910,WN,1403,N504SW,NaN,65.0,NaN,NaN,44.0,BOI,RNO,335,NaN,11.0,0,N,1,NaN,NaN,NaN,NaN,NaN,2008-01-04 19:49:00,2008-01-04 19:05:00,NaT,2008-01-04 19:10:00,NaT,0 days 00:44:00,NaN,44.0
1831,2726,2008,1,4,5,737.0,705,NaN,825,WN,178,N718SW,NaN,80.0,NaN,NaN,32.0,BUR,SMF,358,NaN,13.0,0,N,1,NaN,NaN,NaN,NaN,NaN,2008-01-04 07:37:00,2008-01-04 07:05:00,NaT,2008-01-04 08:25:00,NaT,0 days 00:32:00,NaN,32.0
2244,3672,2008,1,4,5,1849.0,1630,NaN,1755,WN,239,N636WN,NaN,85.0,NaN,NaN,139.0,LAS,RNO,345,NaN,12.0,0,N,1,NaN,NaN,NaN,NaN,NaN,2008-01-04 18:49:00,2008-01-04 16:30:00,NaT,2008-01-04 17:55:00,NaT,0 days 02:19:00,NaN,139.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1934590,7002526,2008,12,7,7,1526.0,1444,NaN,1654,DL,1743,N958DL,NaN,130.0,NaN,NaN,42.0,BUF,ATL,712,NaN,NaN,1,A,0,NaN,NaN,NaN,NaN,NaN,2008-12-07 15:26:00,2008-12-07 14:44:00,NaT,2008-12-07 16:54:00,NaT,0 days 00:42:00,NaN,42.0
1935491,7006018,2008,12,10,3,1431.0,1422,NaN,1527,DL,1405,N906DL,NaN,125.0,NaN,NaN,9.0,ATL,IAH,689,NaN,NaN,1,C,0,NaN,NaN,NaN,NaN,NaN,2008-12-10 14:31:00,2008-12-10 14:22:00,NaT,2008-12-10 15:27:00,NaT,0 days 00:09:00,NaN,9.0
1935651,7006289,2008,12,10,3,1459.0,1447,NaN,1650,DL,1706,N914DN,NaN,123.0,NaN,NaN,12.0,ATL,BUF,712,NaN,37.0,1,A,0,NaN,NaN,NaN,NaN,NaN,2008-12-10 14:59:00,2008-12-10 14:47:00,NaT,2008-12-10 16:50:00,NaT,0 days 00:12:00,NaN,12.0
1935876,7006809,2008,12,11,4,1026.0,955,NaN,1219,DL,892,N928DL,NaN,144.0,NaN,NaN,31.0,ATL,JFK,760,NaN,NaN,1,A,0,NaN,NaN,NaN,NaN,NaN,2008-12-11 10:26:00,2008-12-11 09:55:00,NaT,2008-12-11 12:19:00,NaT,0 days 00:31:00,NaN,31.0
1936470,7008584,2008,12,12,5,703.0,630,NaN,734,DL,1372,N908DE,NaN,64.0,NaN,NaN,33.0,LGA,BOS,185,NaN,33.0,1,B,0,NaN,NaN,NaN,NaN,NaN,2008-12-12 07:03:00,2008-12-12 06:30:00,NaT,2008-12-12 07:34:00,NaT,0 days 00:33:00,NaN,33.0

In [28]:
df[df['ArrTime'].isnull()]

,Unnamed: 0,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,TailNum,ActualElapsedTime,CRSElapsedTime,AirTime,ArrDelay,DepDelay,Origin,Dest,Distance,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay,DepTime_FH,CRSDepTime_FH,ArrTime_FH,CRSArrTime_FH,Retraso_Llegada,Retraso_Salida,Retraso_llegas_min,Retraso_salida_min
1280,1763,2008,1,3,4,922.0,915,NaN,1050,WN,1069,N630WN,NaN,95.0,NaN,NaN,7.0,SAN,SMF,480,NaN,12.0,0,N,1,NaN,NaN,NaN,NaN,NaN,2008-01-03 09:22:00,2008-01-03 09:15:00,NaT,2008-01-03 10:50:00,NaT,0 days 00:07:00,NaN,7.0
1372,1911,2008,1,3,4,2325.0,1900,NaN,2030,WN,2092,N302SW,NaN,90.0,NaN,NaN,265.0,SFO,SAN,447,NaN,11.0,0,N,1,NaN,NaN,NaN,NaN,NaN,2008-01-03 23:25:00,2008-01-03 19:00:00,NaT,2008-01-03 20:30:00,NaT,0 days 04:25:00,NaN,265.0
1776,2651,2008,1,4,5,1949.0,1905,NaN,1910,WN,1403,N504SW,NaN,65.0,NaN,NaN,44.0,BOI,RNO,335,NaN,11.0,0,N,1,NaN,NaN,NaN,NaN,NaN,2008-01-04 19:49:00,2008-01-04 19:05:00,NaT,2008-01-04 19:10:00,NaT,0 days 00:44:00,NaN,44.0
1831,2726,2008,1,4,5,737.0,705,NaN,825,WN,178,N718SW,NaN,80.0,NaN,NaN,32.0,BUR,SMF,358,NaN,13.0,0,N,1,NaN,NaN,NaN,NaN,NaN,2008-01-04 07:37:00,2008-01-04 07:05:00,NaT,2008-01-04 08:25:00,NaT,0 days 00:32:00,NaN,32.0
2244,3672,2008,1,4,5,1849.0,1630,NaN,1755,WN,239,N636WN,NaN,85.0,NaN,NaN,139.0,LAS,RNO,345,NaN,12.0,0,N,1,NaN,NaN,NaN,NaN,NaN,2008-01-04 18:49:00,2008-01-04 16:30:00,NaT,2008-01-04 17:55:00,NaT,0 days 02:19:00,NaN,139.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1934590,7002526,2008,12,7,7,1526.0,1444,NaN,1654,DL,1743,N958DL,NaN,130.0,NaN,NaN,42.0,BUF,ATL,712,NaN,NaN,1,A,0,NaN,NaN,NaN,NaN,NaN,2008-12-07 15:26:00,2008-12-07 14:44:00,NaT,2008-12-07 16:54:00,NaT,0 days 00:42:00,NaN,42.0
1935491,7006018,2008,12,10,3,1431.0,1422,NaN,1527,DL,1405,N906DL,NaN,125.0,NaN,NaN,9.0,ATL,IAH,689,NaN,NaN,1,C,0,NaN,NaN,NaN,NaN,NaN,2008-12-10 14:31:00,2008-12-10 14:22:00,NaT,2008-12-10 15:27:00,NaT,0 days 00:09:00,NaN,9.0
1935651,7006289,2008,12,10,3,1459.0,1447,NaN,1650,DL,1706,N914DN,NaN,123.0,NaN,NaN,12.0,ATL,BUF,712,NaN,37.0,1,A,0,NaN,NaN,NaN,NaN,NaN,2008-12-10 14:59:00,2008-12-10 14:47:00,NaT,2008-12-10 16:50:00,NaT,0 days 00:12:00,NaN,12.0
1935876,7006809,2008,12,11,4,1026.0,955,NaN,1219,DL,892,N928DL,NaN,144.0,NaN,NaN,31.0,ATL,JFK,760,NaN,NaN,1,A,0,NaN,NaN,NaN,NaN,NaN,2008-12-11 10:26:00,2008-12-11 09:55:00,NaT,2008-12-11 12:19:00,NaT,0 days 00:31:00,NaN,31.0
1936470,7008584,2008,12,12,5,703.0,630,NaN,734,DL,1372,N908DE,NaN,64.0,NaN,NaN,33.0,LGA,BOS,185,NaN,33.0,1,B,0,NaN,NaN,NaN,NaN,NaN,2008-12-12 07:03:00,2008-12-12 06:30:00,NaT,2008-12-12 07:34:00,NaT,0 days 00:33:00,NaN,33.0

In [29]:
df[df['ArrTime'].notnull()]

,Unnamed: 0,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,TailNum,ActualElapsedTime,CRSElapsedTime,AirTime,ArrDelay,DepDelay,Origin,Dest,Distance,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay,DepTime_FH,CRSDepTime_FH,ArrTime_FH,CRSArrTime_FH,Retraso_Llegada,Retraso_Salida,Retraso_llegas_min,Retraso_salida_min
0,0,2008,1,3,4,2003.0,1955,2211.0,2225,WN,335,N712SW,128.0,150.0,116.0,-14.0,8.0,IAD,TPA,810,4.0,8.0,0,N,0,NaN,NaN,NaN,NaN,NaN,2008-01-03 20:03:00,2008-01-03 19:55:00,2008-01-03 22:11:00,2008-01-03 22:25:00,-1 days +23:46:00,0 days 00:08:00,-14.0,8.0
1,1,2008,1,3,4,754.0,735,1002.0,1000,WN,3231,N772SW,128.0,145.0,113.0,2.0,19.0,IAD,TPA,810,5.0,10.0,0,N,0,NaN,NaN,NaN,NaN,NaN,2008-01-03 07:54:00,2008-01-03 07:35:00,2008-01-03 10:02:00,2008-01-03 10:00:00,0 days 00:02:00,0 days 00:19:00,2.0,19.0
2,2,2008,1,3,4,628.0,620,804.0,750,WN,448,N428WN,96.0,90.0,76.0,14.0,8.0,IND,BWI,515,3.0,17.0,0,N,0,NaN,NaN,NaN,NaN,NaN,2008-01-03 06:28:00,2008-01-03 06:20:00,2008-01-03 08:04:00,2008-01-03 07:50:00,0 days 00:14:00,0 days 00:08:00,14.0,8.0
3,4,2008,1,3,4,1829.0,1755,1959.0,1925,WN,3920,N464WN,90.0,90.0,77.0,34.0,34.0,IND,BWI,515,3.0,10.0,0,N,0,2.0,0.0,0.0,0.0,32.0,2008-01-03 18:29:00,2008-01-03 17:55:00,2008-01-03 19:59:00,2008-01-03 19:25:00,0 days 00:34:00,0 days 00:34:00,34.0,34.0
4,5,2008,1,3,4,1940.0,1915,2121.0,2110,WN,378,N726SW,101.0,115.0,87.0,11.0,25.0,IND,JAX,688,4.0,10.0,0,N,0,NaN,NaN,NaN,NaN,NaN,2008-01-03 19:40:00,2008-01-03 19:15:00,2008-01-03 21:21:00,2008-01-03 21:10:00,0 days 00:11:00,0 days 00:25:00,11.0,25.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1936753,7009710,2008,12,13,6,1250.0,1220,1617.0,1552,DL,1621,N938DL,147.0,152.0,120.0,25.0,30.0,MSP,ATL,906,9.0,18.0,0,N,0,3.0,0.0,0.0,0.0,22.0,2008-12-13 12:50:00,2008-12-13 12:20:00,2008-12-13 16:17:00,2008-12-13 15:52:00,0 days 00:25:00,0 days 00:30:00,25.0,30.0
1936754,7009717,2008,12,13,6,657.0,600,904.0,749,DL,1631,N3743H,127.0,109.0,78.0,75.0,57.0,RIC,ATL,481,15.0,34.0,0,N,0,0.0,57.0,18.0,0.0,0.0,2008-12-13 06:57:00,2008-12-13 06:00:00,2008-12-13 09:04:00,2008-12-13 07:49:00,0 days 01:15:00,0 days 00:57:00,75.0,57.0
1936755,7009718,2008,12,13,6,1007.0,847,1149.0,1010,DL,1631,N909DA,162.0,143.0,122.0,99.0,80.0,ATL,IAH,689,8.0,32.0,0,N,0,1.0,0.0,19.0,0.0,79.0,2008-12-13 10:07:00,2008-12-13 08:47:00,2008-12-13 11:49:00,2008-12-13 10:10:00,0 days 01:39:00,0 days 01:20:00,99.0,80.0
1936756,7009726,2008,12,13,6,1251.0,1240,1446.0,1437,DL,1639,N646DL,115.0,117.0,89.0,9.0,11.0,IAD,ATL,533,13.0,13.0,0,N,0,NaN,NaN,NaN,NaN,NaN,2008-12-13 12:51:00,2008-12-13 12:40:00,2008-12-13 14:46:00,2008-12-13 14:37:00,0 days 00:09:00,0 days 00:11:00,9.0,11.0
1936757,7009727,2008,12,13,6,1110.0,1103,1413.0,1418,DL,1641,N908DL,123.0,135.0,104.0,-5.0,7.0,SAT,ATL,874,8.0,11.0,0,N,0,NaN,NaN,NaN,NaN,NaN,2008-12-13 11:10:00,2008-12-13 11:03:00,2008-12-13 14:13:00,2008-12-13 14:18:00,-1 days +23:55:00,0 days 00:07:00,-5.0,7.0

In [30]:
df['Retraso_Llegada']=df['ArrTime_FH']-df['CRSArrTime_FH']